.about {
    padding: 100px 8%;
    background: linear-gradient(180deg, #F8FAFC 0%, #FFFFFF 100%);
}

.about-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
    align-items: center;
}

/* IMAGE */

.about-image {
    position: relative;
}

.about-image img {
    width: 100%;
    border-radius: 40px 120px 40px 120px;
    object-fit: cover;
    border: 8px solid #fff;
    box-shadow: 0 30px 60px rgba(0, 119, 166, .12);
}

/* CONTENT */

.section-tag {
    color: var(--primary-color);
    font-weight: 700;
    letter-spacing: 2px;
}

.about-content h3 {
    font-size: 40px;
    margin: 15px 0;
    color: var(--text-dark);
    line-height: 1.4;
}

.about-content h4 {
    color: var(--secondary-color);
    margin-bottom: 25px;
}

.about-content p {
    color: var(--text-light);
    line-height: 1.6;
    font-size: 17px;
    text-align: justify;
}

.about-btn {
    display: inline-flex;
    align-items: center;
    gap: 12px;
    margin-top: 30px;
    background: var(--gradient-primary);
    color: #fff;

    padding: 16px 35px;
    border-radius: 50px;

    text-decoration: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;

    box-shadow: 0 12px 30px rgba(0, 119, 166, .22);
    transition: all .35s ease;
}

.about-btn:hover {
    transform: translateY(-5px);
    box-shadow: 0 18px 40px rgba(0, 119, 166, .30);
}

/* Responsive */

@media(max-width:991px) {

    .about-container {
        grid-template-columns: 1fr;
    }

    .about-content {
        text-align: center;
    }

    .stats {
        grid-template-columns: repeat(2, 1fr);
    }

    .about-content h2 {
        font-size: 38px;
    }

    .about-btn {
        margin: auto;
        margin-top: 30px;
    }

}

@media(max-width:600px) {

    .about-container {
        gap: 50px;
    }

    .stats {
        grid-template-columns: 1fr;
    }

    .about {
        padding: 0px 5%;
    }

    .about-content h2 {
        font-size: 32px;
    }

    .about-content h3 {
        font-size: 2rem;
    }

    .about-image img {
        border-radius: 25px;
    }

    .about-btn {
        margin-top: 45px;
    }

}