.about {
    padding: 120px 8%;
    background: #f8fbfa;
}

.about-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
    align-items: center;
}

/* IMAGE */

.about-image {
    position: relative;
}

.about-image img {
    width: 100%;
    border-radius: 40px 120px 40px 120px;
    object-fit: cover;
    box-shadow: 0 30px 60px rgba(0, 0, 0, .12);
}

/* CONTENT */

.section-tag {
    color: #2E8B57;
    font-weight: 700;
    letter-spacing: 2px;
}

.about-content h2 {
    font-size: 50px;
    margin: 15px 0;
    color: #222;
    line-height: 1.2;
}

.about-content h4 {
    color: #D9534F;
    margin-bottom: 25px;
}

.about-content p {
    color: #666;
    line-height: 1.9;
    font-size: 17px;
}

.stats {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
    margin: 40px 0;
}

.stats div {
    background: white;
    padding: 25px;
    border-radius: 18px;
    transition: .35s;
}

.stats div:hover {
    transform: translateY(-8px);
}

.stats h3 {
    color: #2E8B57;
    font-size: 28px;
}

.stats span {
    color: #666;
}

.about-btn {
    display: inline-flex;
    align-items: center;
    gap: 12px;

    background: #2E8B57;
    color: #fff;

    padding: 16px 35px;
    border-radius: 50px;

    text-decoration: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;

    transition: all 0.4s ease;
}

.about-btn:hover {
    background: #246c46;
    transform: translateY(-5px);
}

/* Responsive */

@media(max-width:991px) {

    .about-container {
        grid-template-columns: 1fr;
    }

    .about-content {
        text-align: center;
    }

    .stats {
        grid-template-columns: repeat(2, 1fr);
    }

    .about-content h2 {
        font-size: 38px;
    }

    .about-btn {
        margin: auto;
    }

}

@media(max-width:600px) {

    .stats {
        grid-template-columns: 1fr;
    }

    .about {
        padding: 80px 5%;
    }

    .about-content h2 {
        font-size: 32px;
    }

    .about-image img {
        border-radius: 25px;
    }

}