.footer {
    background: #0F172A;
    color: #fff;
    padding: 80px 8% 0;
}

.footer-container {
    display: grid;
    grid-template-columns: 2fr 1fr 1.3fr 1.5fr;
    gap: 50px;
}

.footer-logo {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 20px;
}

.footer-logo svg {
    font-size: 34px;
    color: var(--secondary-color);
}

.footer-logo h2 {
    font-size: 28px;
}

.footer-column p {
    color: #CBD5E1;
    line-height: 1.9;
    text-align: justify;
    margin-bottom: 25px;
}

.footer-column h3 {
    margin-bottom: 24px;
    color: #fff;
}

.footer-column a {
    display: block;
    color: #CBD5E1;
    text-decoration: none;
    margin-bottom: 14px;
    transition: .3s;
}

.footer-column a:hover {
    color: var(--secondary-color);
    transform: translateX(6px);
}

.social-icons {
    display: flex;
    gap: 15px;
}

.social-icons a {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, .08);
    color: #fff;
    transition: .35s;
}

.social-icons a:hover {
    background: var(--primary-color);
    transform: translateY(-5px);
}

.footer-contact {
    display: flex;
    gap: 15px;
    margin-bottom: 18px;
    align-items: flex-start;
    color: #CBD5E1;
}

.footer-contact svg {
    color: var(--secondary-color);
    margin-top: 4px;
}

.footer-bottom {
    margin-top: 60px;
    border-top: 1px solid rgba(255, 255, 255, .12);
    padding: 25px 0;
    text-align: center;
}

.footer-bottom p {
    color: #CBD5E1;
}

@media(max-width:992px) {

    .footer-container {
        grid-template-columns: repeat(2, 1fr);
    }

}

@media(max-width:600px) {

    .footer {
        padding: 70px 6% 0;
    }

    .footer-container {
        grid-template-columns: 1fr;
        gap: 40px;
    }

    .footer-bottom {
        margin-top: 40px;
    }

}