.faq-section {
    padding: 120px 8%;
    background: linear-gradient(180deg, #FFFFFF, #F8FAFC);
}

.faq-header {
    max-width: 760px;
    margin: auto;
    text-align: center;
}

.faq-header h2 {
    margin: 18px 0;
    font-size: 42px;
    color: var(--text-dark);
}

.faq-header p {
    color: var(--text-light);
    line-height: 1.8;
    text-align: justify;
}

.faq-container {
    max-width: 900px;
    margin: 70px auto 0;
}

.faq-item {
    margin-bottom: 20px;
    border: 1px solid rgba(0, 119, 166, .08);
    border-radius: 18px;
    overflow: hidden;
    background: #fff;
    box-shadow: 0 10px 30px rgba(0, 119, 166, .06);
    transition: .3s;
}

.faq-item.active {
    box-shadow: 0 20px 45px rgba(0, 119, 166, .12);
}

.faq-question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 28px;
    cursor: pointer;
}

.faq-question h3 {
    font-size: 20px;
    color: var(--text-dark);
    font-weight: 600;
}

.faq-question svg {
    color: var(--primary-color);
    font-size: 18px;
}

.faq-answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height .4s ease;
}

.faq-item.active .faq-answer {
    max-height: 250px;
}

.faq-answer p {
    padding: 0 28px 24px;
    color: var(--text-light);
    line-height: 1.8;
    text-align: justify;
}

@media(max-width:768px) {

    .faq-section {
        padding: 90px 6%;
    }

    .faq-header h2 {
        font-size: 34px;
    }

    .faq-question {
        padding: 20px;
    }

    .faq-question h3 {
        font-size: 17px;
        width: 90%;
    }

    .faq-answer p {
        padding: 0 20px 20px;
    }
}