.about-hero {

    position: relative;

    height: 55vh;

    display: flex;
    align-items: center;
    background: url("./about.png") center/cover no-repeat;

    overflow: hidden;

}

.about-overlay {

    position: absolute;
    inset: 0;

    background: rgba(7, 33, 66, .72);

}

.about-content {

    position: relative;

    max-width: 700px;

    color: white;

    z-index: 2;

}

.about-tag {

    display: inline-block;

    padding: 8px 18px;

    border-radius: 30px;

    background: rgba(244, 180, 0, .18);

    border: 1px solid rgba(244, 180, 0, .5);

    color: #FFD34D;

    font-weight: 600;

    margin-bottom: 22px;

}

.about-content h1 {

    font-size: clamp(2.5rem, 5vw, 4.3rem);

    line-height: 1.15;

    margin-bottom: 22px;

    font-weight: 700;

}

.about-content p {

    font-size: 1.08rem;

    line-height: 1.8;

    color: rgb(121 110 110 / 97%);

    max-width: 620px;

    margin-bottom: 35px;

}

.breadcrumb {

    display: flex;
    align-items: center;
    gap: 12px;

    font-size: .95rem;

}

.breadcrumb a {

    color: white;

    text-decoration: none;

    transition: .3s;

}

.breadcrumb a:hover {

    color: #F4B400;

}

.breadcrumb span:last-child {

    color: #F4B400;

}

/* ---------- Responsive ---------- */

@media (max-width:768px) {

    .about-hero {

        height: 60vh;

        text-align: center;

    }

    .about-content {

        margin: auto;

    }

    .breadcrumb {

        justify-content: center;

    }

    .about-content h1 {

        font-size: 2.4rem;

    }

}